<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
    <link rel="stylesheet" href="../static/css/index.css">
	<title>BIENVENIDO A LA PAGINA PRINCIPAL</title>
</head>
<body >
	<h1>REGISTRO DE USUARIOS</h1>
	<form action="/guardar_user" method="POST">
		<label for="name">Nombre</label>
		<input type="text" name="nombre">
		<label for="apellido">Apellido</label>
		<input type="text" name="apellido">
		<label for="telefono">Telefono</label>
		<input type="number" name="telefono">
		<label for="password">Contraseña</label>
		<input type="password" name="password">
		<input type="submit" value="Enviar">
	</form>
	<br><br><br>
	<ul>
	
	{% for persona in personas%}
		<hr>
		<li>nombre: {{persona.nombre}}</li>
		<li>Apellido: {{persona.apellido}}</li>
		<li>Telefono: {{persona.telefono}}</li>
	
	

		<form action="/editar_persona/{{persona.nombre}}" method="post">
			<input type="text" name="nombre" value="{{ persona.nombre }}">
			<input type="text" name="apellido" value="{{ persona.apellido }}">
			<input type="text" name="telefono" value="{{persona.telefono }}">
			<button type="submit" onclick="return confirm('SEGURO???')" >actualizar</button>
			<a href="{{url_for('eliminar', nombre_persona=persona.nombre)}}" onclick="return confirm('SEGURO???')" >Eliminar</a>
			
		</form>

	{%endfor%}

	<br><br><br>
	<a href="yadir.html">Yadir Yomayuza</a><br>
	<a href="emerson.html">Emerson Pachon</a><br>
	<a href="andres.html">Andres Espitia</a><br>
	<a href="karen.html">Karen Maldonado</a><br>
	<a href="juan.html">Juan Carlos Ruiz</a><br>
</body>
</html>