
{% extends './navbar.html' %}
{% block body %}
    <h1>Editar persona</h1>
    
   
   {% for persona in personas%}
	
    <form action="/editar_persona/{{persona.nombre}}" method="post">
        <input type="text" name="nombre" value="{{ persona.nombre }}">
        <input type="text" name="apellido" value="{{ persona.apellido }}">
        <input type="text" name="telefono" value="{{persona.telefono }}">
        <button type="submit" onclick="return confirm('SEGURO???')" >actualizar</button>
        <!-- <a href="{{url_for('eliminar', nombre_persona=persona.nombre)}}" onclick="return confirm('SEGURO???')" >Eliminar</a> -->
        
        
    </form>

{%endfor%}
{% endblock %}

